.form {
  position: relative;
  padding-top: 6.6rem;
  padding-bottom: 5.5rem;
  text-align: center;
  border: 1px solid #898989;

  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  input {
    padding: 1.7rem 2.8rem;
    min-width: 26.8rem;
    border: 1px solid #898989;
    border-radius: 20rem;

    &::placeholder {
      color: #616467;
      font-family: Roboto;
      font-size: 1.3rem;
      font-weight: 300;
    }

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  textarea {
    margin-top: 0.7rem;
    padding-top: 1.8rem;
    padding-left: 2.5rem;
    width: 100%;
    height: 7.1rem;
    outline: none;
    resize: none;
    border: 1px solid #898989;
    border-radius: 1rem;

    &::placeholder {
      color: #616467;
      font-family: Roboto;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.3rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5rem;
      height: 1.5rem;
      background-color: #fff;
    }

    &::before {
      left: -1.5rem;
    }

    &::after {
      right: -1.5rem;
    }
  }
}
