.slider {
  margin-top: 3rem;
  text-align: center;

  &__item {
    max-width: 60rem;
    margin: 0 -3rem;

    @media (max-width: 768px) {
      max-width: 35rem;
      margin: 0 0rem;
    }
  }

  &__photo {
    margin: 0 auto;
  }

  &__user {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__text {
    margin: 0 -3rem;
    text-align: justify;
    text-align-last: center;
    font-weight: 300;
    line-height: 2.201rem;
  }

  &__btn {
    position: absolute;
    top: 3rem;
    display: block;
    width: 2.4rem;
    height: 5rem;
    border: 0;
    background-color: transparent;
    z-index: 1000;

    &--prev {
      left: 30%;
      background-image: url(../../img/css/prev-btn.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    &--next {
      right: 30%;
      background-image: url(../../img/css/next-btn.png);
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (max-width: 768px) {
      display: none !important;
    }
  }
}

.slick-slide {
  transform: scale(0.6);
  opacity: 0.3;
  @include transition;
}

.slick-slide.slick-current {
  transform: scale(1);
  opacity: 1;
}
