.scheme {
  padding-top: 5.1rem;
  padding-bottom: 4.6rem;
  background-color: #f3f3f3;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -1rem;
  }

  &__item {
    flex: 0 0 25.3rem;
    margin-top: 4.3rem;
    text-align: center;

    &:not(:first-child) {
      margin-left: 3.2rem;

      @media (max-width: 450px) {
        margin-left: 0;
        margin-bottom: 2rem;
      }
    }
  }

  &__icon {
    background-image: url(../../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;

    &--1 {
      width: 50px;
      height: 49px;
      background-position: -290px -203px;
    }

    &--2 {
      width: 51px;
      height: 57px;
      background-position: -145px -262px;
    }

    &--3 {
      width: 49px;
      height: 50px;
      background-position: -288px -262px;
    }

    &--4 {
      width: 56px;
      height: 54px;
      background-position: -5px -322px;
    }

    &--5 {
      width: 50px;
      height: 50px;
      background-position: -71px -322px;
    }

    &--6 {
      width: 56px;
      height: 52px;
      background-position: -206px -322px;
    }

    &--7 {
      width: 61px;
      height: 50px;
      background-position: -272px -322px;
    }
  }

  &__title {
    color: $color-primary;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &__text {
    font-weight: 300;
  }
}
