html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.57;
  color: $color-text;
  box-sizing: border-box;
  overflow-x: hidden;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-align: center;
}

.subtitle {
  color: $color-primary;
  font-size: 1.6rem;
  font-weight: 700;
}
